# An√°lise Cripto Moedas

### Imports

In [2]:
import requests
from binance.spot import Spot 
import numpy as np
import pandas as pd
from pandas_datareader import data

In [3]:
client = Spot()
spot_client = Spot(key='<your api key>', base_url="https://testnet.binance.vision")
spot_client

In [4]:
spot_client.ticker_price(symbol='BTCUSDT')

{'symbol': 'BTCUSDT', 'price': '47066.80000000'}

In [17]:
ada = data.DataReader("ADA-USD", 
                       start='2020-1-1', 
                       end='2021-12-13', 
                       data_source='yahoo')

ada.head()

                High       Low      Open     Close      Volume  Adj Close
Date
2020-01-01  0.033813  0.032704  0.032832  0.033458  22948374.0   0.033458
2020-01-02  0.033507  0.032448  0.033474  0.032751  20843934.0   0.032751
2020-01-03  0.034427  0.032491  0.032748  0.034180  30162644.0   0.034180
2020-01-04  0.034685  0.033872  0.034191  0.034595  29535781.0   0.034595
2020-01-05  0.035356  0.034545  0.034574  0.034721  21479178.0   0.034721

In [14]:
sand = data.DataReader("SAND-USD", 
                       start='2020-1-1', 
                       end='2021-12-13', 
                       data_source='yahoo')

sand.head()

                High       Low      Open     Close      Volume  Adj Close
Date
2020-08-16  0.069508  0.048064  0.051438  0.060847  33023213.0   0.060847
2020-08-17  0.065073  0.052525  0.060847  0.053999  11686493.0   0.053999
2020-08-18  0.060990  0.050675  0.053784  0.051700   7401293.0   0.051700
2020-08-19  0.057150  0.048098  0.051690  0.052095   7375433.0   0.052095
2020-08-20  0.057325  0.050800  0.052095  0.053648   7332475.0   0.053648

In [13]:
enj = data.DataReader("ENJ-USD", 
                       start='2020-1-1', 
                       end='2021-12-13', 
                       data_source='yahoo')

enj.head()

                High       Low      Open     Close     Volume  Adj Close
Date
2020-01-01  0.082161  0.078596  0.080253  0.079858  4676992.0   0.079858
2020-01-02  0.080107  0.073103  0.080024  0.073981  4769882.0   0.073981
2020-01-03  0.079414  0.072800  0.074078  0.078155  4572091.0   0.078155
2020-01-04  0.079963  0.077413  0.078120  0.077680  3172752.0   0.077680
2020-01-05  0.079355  0.076709  0.077778  0.077100  3449538.0   0.077100

In [16]:
cake = data.DataReader("CAKE-USD", 
                       start='2020-1-1', 
                       end='2021-12-13', 
                       data_source='yahoo')

cake.head()

                High       Low      Open     Close     Volume  Adj Close
Date
2020-09-29  1.547214  0.818281  1.547214  1.003730  1718365.0   1.003730
2020-09-30  1.114622  0.433357  1.004086  0.433357   454120.0   0.433357
2020-10-01  0.541895  0.341745  0.433357  0.419504   880599.0   0.419504
2020-10-05  0.561734  0.456770  0.557017  0.462661   284288.0   0.462661
2020-10-06  0.557398  0.430424  0.462717  0.495986   554961.0   0.495986